@font-face {
    font-family: 'lessbold';
    src: url('../../fonts/less-bold-webfont.woff2') format('woff2'),
         url('../../fonts/less-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'lesslight';
    src: url('../../fonts/less-light-webfont.woff2') format('woff2'),
         url('../../fonts/less-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'lessregular';
    src: url('../../fonts/less-webfont.woff2') format('woff2'),
         url('../../fonts/less-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}